:root {
  --clr-primary-900: hsl(0, 0%, 12%);
  --clr-primary-400: hsl(0, 0%, 25%);
  --clr-primary-100: hsl(0, 0%, 85%);

  --space-200: 0.75rem;
  --space-400: 1rem;
  --space-600: 2rem;

  --fontsize-400: 1.25rem;
  --fontsize-600: 1.75rem;
  --fontsize-800: 2.25rem;

  --br-400: 0.625rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
select {
  font-size: inherit;
  color: inherit;
  padding: var(--space-200);
  border-radius: var(--br-400);
  max-width: 100%;

}

input[type=number] {
  max-width: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:is(:hover, :active, :focus),
select:is(:hover, :active, :focus) {
  outline: 3px solid var(--clr-primary-100);
  cursor: pointer;
}

input[type="radio"]:is(:hover, :focus, :active) {
  outline: none;
}

.app {
  color: var(--clr-primary-100);
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
  max-width: 1440px;
  margin: auto;
  font-size: var(--fontsize-400);
  padding: var(--space-400);
}

@media screen and (min-width: 800px) {
  .app {
    flex-direction: row;
  }
}

.inputs,
.output {
  flex-basis: 50%;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: var(--space-400);
}

.inputs > section,
.output {
  background-color: var(--clr-primary-900);
  padding: var(--space-600);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: var(--br-400);
}

.inputs > section {
  gap: var(--space-200);
  align-items: flex-start;
}
.discounts > div {
  display: flex;

}
.toggle {
  border: 1px solid var(--clr-primary-400);
  padding: var(--space-200);
  border-radius: var(--br-400);
  margin-inline: var(--space-200);
}
.toggle:hover {
  cursor: pointer;
  border: 1px solid var(--clr-primary-100);
}

.toggle > label {
  cursor: pointer;
  padding-inline: var(--space-200);

}

.pricing {
  font-size: var(--fontsize-400);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--space-200);
  color: var(--clr-primary-400);
  font-size: var(--fontsize-600);
  border: 1px solid var(--clr-primary-100);
  padding-block: var(--space-400);
  border-radius: var(--br-400);

}
.pricing span {
  display: block;
  color: var(--clr-primary-100);
}

.pricing span.eur {
  font-size: var(--fontsize-800);
  font-weight: bold;
}

h2 {
  color: var(--clr-primary-400);
}

input,
select,
button {
  background-color: var(--clr-primary-400);
  border: none;
  font-family: inherit;
}
